<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="icon" type="image/png" href="" />
	<title>看板</title>
	<style>
		* { margin: 0px; padding: 0px; }
		html {
			font: 12px <%= Omniboard::Column.body_font %>;
			font-size: 12px;
			padding: 2rem;
		}

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 2px solid #888;
			margin-bottom: 2rem;
		}

		header>div{
			display: flex;
			align-items: center;
		}

		.alert.error {
			border-left: 4px solid red;
			background-color: rgba(255,0,0,0.5);
		}

		.alert.warn {
			border-left: 4px solid yellow;
			background-color: rgba(220,200,0,0.5);
		}

		.alert {
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			padding: 5px;
			cursor: pointer;
		}

		#search {
			margin-right: 2em;
			border-radius: 1em;
			padding: 0.2em 0.4em;
		}

		#kanban{ display: flex; }
		.column{ flex-basis: 0px; }
		.column + .column{ margin-left: 2em; }
		.project-group { display: flex; flex-wrap: wrap; }

		h1, h2, h3, h4 { font-family: <%= Omniboard::Column.heading_font %>; color: #444; }

		h1{ font-size: 2.5rem; }
		h2{ font-size: 2rem; }
		h3{ font-size: 1.5rem }
		h4{ font-size: 1rem }

		.column.width-1 .project{ width: calc(100% - 0.5em); }
		.column.width-2 .project { width: calc(50% - 0.5em); }
		.column.width-3 .project { width: calc(33% - 0.5em); }
		.column.width-4 .project { width: calc(25% - 0.5em); }
		.column.width-5 .project { width: calc(20% - 0.5em); }
		.column.width-6 .project { width: calc(16% - 0.5em); }

		.column-header {
			margin-bottom: 0.8em;
			border-bottom: 1px solid #333;
			display: flex;
			align-items: center;
		}

		.filter-button {
			opacity: 0.5;
			height: 2em;
			width: 2em;
			margin-left: 2em;
			cursor: pointer;
		}

		.filter-button:hover, .filter-button:active{ opacity: 1;}

		.project{
			border: 2px solid black;
			border-radius: 8px;
			margin: 0 0.5em 1em 0;
			padding: 5px;
			box-sizing: border-box;
			font-weight: 300;
			box-shadow: rgba(0,0,0,0.3) 1px 1px 3px;
			position: relative;
		}

		.project .mark {
			position: absolute;
			top: 0px;
			right: 0px;
			border-top: 10px solid red;
			border-left: 10px solid transparent;
		}

		.project.dimmed {
			opacity: 0.8;
			box-shadow: none;
		}

		.project.dimmed:hover {
			opacity: 1.0;
			box-shadow: rgba(0,0,0,0.3) 1px 1px 3px;
		}

		.project.compact .tasks, .project.compact .project-deferral, .project.compact .project-icon {
			display: none;
		}

		.project-deferral {
			position: absolute;
			bottom: 3px;
			right: 3px;
			height: 10px;
			width: 10px;

			background-color: rgb(255, 255, 255);
			border-top: 4px solid red;
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
		
			text-align: center;
			font-weight: bold;
			font-size: 8px;
		}

		.project-icon {
			position: absolute;
			right: 3px;
			bottom: 0;
		}

		.project-icon img, .project-icon svg {
			max-height: 10px;
			max-width: 14px;
		}

		#overlay-background {
			position: fixed;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			background-color: rgba(0,0,0,0.2);
		}

		#overlay-main {
			position: fixed;
			top: 10%;
			left: 10%;
			height: 80%;
			width: 80%;
			padding: 2em;
			box-sizing: border-box;

			background-color: #ddd;
			border: 2px solid #666;
			border-radius: 10px;

			display: flex;
			flex-direction: column;
		}

		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 2rem;
			cursor: pointer;
		}

		#overlay-main h2 {
			border-bottom: none;
		}

		#overlay-main .body {
			display: flex;
			flex-grow: 1;
		}

		#overlay-main .note {
			flex: 2 2 0px;
			margin-right: 1em;
			border-right: 1px dotted grey;
		}

		#overlay-main .tasks {
			flex: 1 1 0px;
			margin-left: 1em;
		}

		#modal-background{
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}

		#modal-main {
			position: fixed;
			top: calc(50% - 100px);
			left: calc(50% - 250px);
			height: 200px;
			width: 500px;
			background-color: white;
			border: 2px solid black;
			box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
			border-radius: 5px;
		}

		#modal-main h2 {
			border-bottom: 1px solid black;
			padding: 0 1ex;
		}

		#modal-main .body {
			padding: 1em;
		}

		.tasks .complete {
			text-decoration: line-through;
			color: #666;
		}

		.hidden, .filtered { display: none; }
	</style>
</head>
<body>
	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
		<defs>
			<symbol id="waiting-on" viewBox="0 0 10 10" stroke="black" stroke-width="1" fill="none">
				<circle cx=5 cy=5 r=4.5 />
				<path d="M5 5 l0 -4"/>
				<path d="M5 5 l2 0"/>
			</symbol>
			<symbol id="hanging" viewBox="0 0 14 10" stroke="black" stroke-width="1" fill="none">
				<path d="M 5,2 l 1,-1 q 1,-1 2,0 q 1,1 0,2 L 7,4 l -5,4.167 q -1,0.833 0,1 l 10,0 q 1,0 0,-0.833 L 7,4" />					
			</symbol>
			<symbol id="filter-apply" viewBox="0 0 20 20">
				<path d="M18.5214844,1.4776001C18.131958,1.086853,17.4981079,1.086792,17.1074829,1.477478L1.4785156,17.1084595
c-0.390625,0.390625-0.390625,1.0244141,0.0001221,1.4140015c0.390625,0.390686,1.0233765,0.390625,1.4140015-0.000061
L18.5214233,2.8916016C18.9121704,2.5009766,18.9121704,1.8682251,18.5214844,1.4776001z M3.1083984,13.4973145l2.5593262-2.5584717
C5.5981445,10.6357422,5.5546875,10.3234863,5.5546875,10c0-2.3789062,1.9902344-4.3085938,4.4453125-4.3085938
c0.2861328,0,0.5644531,0.0314941,0.8354492,0.081665l1.2021484-1.2016602C11.394043,4.467041,10.7192383,4.4003906,10,4.4003906
C3.4394531,4.4003906,0,9.2324219,0,10C0,10.4234619,1.057373,12.0908203,3.1083984,13.4973145z M16.8950195,6.5046387
L14.3330078,9.065918C14.4018555,9.3674316,14.4443359,9.6784668,14.4443359,10
c0,2.3789062-1.9892578,4.3066406-4.4443359,4.3066406c-0.2839355,0-0.5598145-0.0317383-0.8288574-0.0810547L7.967041,15.4291992
C8.609375,15.5330811,9.2827148,15.5996094,10,15.5996094c6.5605469,0,10-4.8339844,10-5.5996094
C20,9.5756836,18.9438477,7.9101562,16.8950195,6.5046387z"/>
			</symbol>
			<symbol id="filter-remove" viewBox="0 0 20 20">
				<path d="M10,4.4C3.439,4.4,0,9.232,0,10c0,0.766,3.439,5.6,10,5.6c6.56,0,10-4.834,10-5.6C20,9.232,16.56,4.4,10,4.4z M10,14.307
c-2.455,0-4.445-1.928-4.445-4.307c0-2.379,1.99-4.309,4.445-4.309c2.455,0,4.444,1.93,4.444,4.309
C14.444,12.379,12.455,14.307,10,14.307z M10,10c-0.407-0.447,0.663-2.154,0-2.154c-1.228,0-2.223,0.965-2.223,2.154
c0,1.189,0.995,2.154,2.223,2.154c1.227,0,2.223-0.965,2.223-2.154C12.223,9.453,10.346,10.379,10,10z"/>
			</symbol>
		</defs>
	</svg>
	<header>
		<div>
			 <% if !Omniboard::document_at_head? %>
				 <% if !Omniboard.document_can_reach_head? %>
					<div class="alert error" data-modal-title="Document detached from head." data-modal-body="I cannot update this document to its most recent state. You might want to reset the local database by running omnigrab with the <code>--reset</code> flag.">Document detached from head.</div>
				<% else %>
					<div class="alert warn" data-modal-title="Document not at head" data-modal-body="This is not the most recent version of the Omnifocus database. Please run omnigrab to update.">Document not at head.</div>
				<% end %>
			<% end %>
		</div>
		<div>
			<input type="search" id="search" placeholder="Hit / to filter" />
			<h1>看板 Kanban</h1>
		</div>
	</header>
	<section id="kanban">